extends /layout/layout
//- App Shell

block main
   .container.flex-centered
      .columns.pv-70
         .column-6.col-xs-12
            .panel
               .panel-header
                  .panel-title 
                     h4.s-subtitle A qué hora teño bus?
               .panel-nav <!-- navigation components: tabs, breadcrumbs or pagination -->
               .panel-body 
                  p Atopa facilmente os horarios dos autobuses interurbanos de Galicia.   
               .panel-footer
                  form-comp
   //-.container.flex-centered
      .columns
         .column.col-6.col-xl-12
            h4.s-subtitle.text-center ¿A que hora teño bus?
            p Atopa facilmente os horarios dos autobuses interurbanos de Galicia.
            form-comp
         .column.col-6.col-xl-12
            #results-table
   
   script.
      riot.mount('form-comp')
      
      depp.define({
         'ResultsBind': [
            ROOT + 'assets/models/ResultsViewModel.js',
            'ResultsBind.js',
         ]
      })

      depp.require(['ResultsBind'], setupBinding)

      function setupBinding() {
         console.info('binding', Date.now() - _start)

         var tabulatorBind = new ResultsBind()
         tabulatorBind.getViewList('results-table')
      }
