form-comp
        form
            .form-group
                label.form-label Orixe
                input.form-input(type="text", name="departure", value="", placeholder="Ponteareas")
            .form-group
                label.form-label Destino
                input.form-input(type="text", name="destination", value="", placeholder="Vigo")
            button.btn.btn-primary.float-right Buscar